<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hltn.test.mapper.TestAccountMapper">

    <resultMap id="BaseResultMap" type="com.hltn.test.entity.TestAccount">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="account" column="account" jdbcType="VARCHAR"/>
            <result property="environment" column="environment" jdbcType="TINYINT"/>
            <result property="detail" column="detail" jdbcType="VARCHAR"/>
            <result property="creatorId" column="creator_id" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <resultMap id="QueryMap" type="com.hltn.test.dto.resp.GetTestAccountsRespDto">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="account" column="account" jdbcType="VARCHAR"/>
        <result property="environment" column="environment" jdbcType="TINYINT"/>
        <result property="detail" column="detail" jdbcType="VARCHAR"/>
        <result property="creatorId" column="creator_id" jdbcType="BIGINT"/>
        <result property="creator" column="creator" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getTestAccounts" resultMap="QueryMap" parameterType="com.hltn.test.dto.req.GetTestAccountsReqDto">
        SELECT
            test_account.id as id,
            test_account.account as account,
            environment,
            detail,
            creator_Id,
            user.username AS creator
        FROM
            test_account
                LEFT JOIN USER ON test_account.creator_id = USER.id
        <where>
            <if test ="dto.account != null and dto.account != ''">
                test_account.account like concat('%',#{dto.account},'%')
            </if>
            <if test ="dto.environment != null and dto.environment != ''">
               and environment = #{dto.environment}
            </if>
            <if test ="dto.detail != null and dto.detail != ''">
               and detail like concat('%',#{dto.detail},'%')
            </if>
            <if test ="dto.creator != null and dto.creator != ''">
                and creator like concat('%',#{dto.creator},'%')
            </if>

        </where>
    </select>

    <sql id="Base_Column_List">
        id,account,environment,
        detail,creator_id,create_time,
        update_time,is_deleted
    </sql>

</mapper>
